# Data files
*.csv
*.parquet
*.avro
*.json
*.xlsx
*.duckdb
*.duckdb.wal

# Python
__pycache__/
*.pyc
*.pyo

# Airflow logs
logs/

# Postgres data
postgres_data/

# Environment variables
.env

# Mac / Windows junk
.DS_Store
Thumbs.db

# Docker
*.log

*.db
